---
// Importaciones necesarias
import GitHub from "./icons/GitHub";
import Link from "./icons/Link";
import LinkButton from "./LinkButton.jsx"
import TagsComponent from "./TagsComponents"; // Asegúrate de tener la ruta correcta para el nuevo componente
import data from 'public/cv.json'; // Ajusta la importación de acuerdo a la estructura de tu proyecto

const PROJECTS = data.PROJECTS
  .filter((project) => project.featured) // Filtra los proyectos destacados
  .map((project) => ({
    ...project,
    tags: project.tags.map((tag) => tag.replace("TAGS.", "")), // Mantén solo las claves
  }))
  .slice(0, 3); // Muestra solo los primeros tres
---
<div class="flex flex-col gap-y-16">
  {PROJECTS.map(({ image, title, description, tags, link, github }:any) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0" >
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
        <div class="flex flex-wrap mt-2">
          <TagsComponent tags={tags} max={3} /> 
        </div>
        <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub className="size-6" />
              Code
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link className="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
      </div>
    </article>
  ))}
</div>
